<% provide :title, t("views.users.index.all_user") %>
<h1><%= t "views.users.index.all_user" %></h1>

<ul class="users">
  <%= render @users %>
  <%= paginate @users, theme: "twitter-bootstrap-3" %>
</ul>
